PORT=5050
HOST=0.0.0.0
NODE_ENV=production
DATABASE_URL="postgresql://crmanhung:replace-password@127.0.0.1:5432/crmanhung?schema=public"
JWT_ACCESS_SECRET=replace-with-long-random-access-secret!!
JWT_REFRESH_SECRET=replace-with-long-random-refresh-secret!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGINS=https://anhungland.com
R2_ACCOUNT_ID=271dac0fb7f61cb74a3d5427b93661bc
R2_ACCESS_KEY_ID=replace-access-key
R2_SECRET_ACCESS_KEY=replace-secret-access-key
R2_BUCKET=anhungland-crm
R2_ENDPOINT=https://271dac0fb7f61cb74a3d5427b93661bc.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=https://cdn.anhungland.com
R2_PRIVATE_BUCKET=anhungland-crm-private
REVALIDATE_SECRET=replace-with-long-random-revalidate-secret!!
PUBLIC_WEB_ORIGIN=http://127.0.0.1:5001
# PUBLIC_SITE_ORIGIN=https://anhungland.com
